.overlay {
  cursor: initial;
  position: absolute;

  top: 0;
  right: 0;

  width: auto;
  height: 100%;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2em;
  border-radius: 1em 0em 0em 0em;
  color: white;
  background-color: black;
}
