.party {
  cursor: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.dancer {
  /* border: 1px solid black; */
  position: relative;
}
.dancer img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

@keyframes slideRight {
  from {
    left: -50%;
  }
  to {
    left: 50%;
  }
}
@keyframes slideDown {
  from {
    top: -50%;
  }
  to {
    top: 50%;
  }
}
@keyframes twirl {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.party > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.horizontal .dancer img {
  animation-name: slideRight;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.vertical .dancer img {
  animation-name: slideDown;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.twirl .dancer img {
  animation-name: twirl;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.reverse img {
  animation-direction: reverse;
}
