.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: initial;
  padding: 2em;
  border-radius: 1em 0em 0em 1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);

  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.overlay.visible {
  transform: none;
}
.overlay.hidden {
  transform: translateX(100%);
}

.overlay button {
  cursor: pointer;
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.2em 1em;
  color: white;
  background-color: black;
}

.gap {
  width: 80%;
  margin: 1em;
  border-top: 1px solid white;
}
.row {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.rowLabel {
  font-size: 1.5em;
}
.rowButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
