.welcome {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.instructions {
  color: black;
  background-color: white;
  border-radius: 2em;
  padding: 1em 4em;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;
}

.instructions button {
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid black;
  color: black;
  background-color: #ddd;
}
